.ourgro{
    margin-top: 80px;
    background-color: lightslategray;
}
.ourgro h3{
    color: lightyellow;
    text-align: center;
    margin-bottom: 40px;

}
.ourgro i{
    height: 50px;
    width: 30px;
}
.abou h1{
    color:red;
}